.bg{
    background-image: url("https://t4.ftcdn.net/jpg/01/19/11/55/240_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}